{% extends 'myapp1/index.html' %}
{%  block content %}
<br><br><br>
<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header text-center text-primary " >
						Login
				</div>
				<form action="{% url 'login' %}" method="POST">
					{% csrf_token %}
				<div class="card-body text-center">
					{{form.as_p}}
				</div>
				<div class="card-footer text-center" ><button class="btn btn-primary">Signin</button></div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}