<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
</head>
<body align = 'center' >

<font size="10" face="arial" color="blue">
<!-- <center> -->
	User Name:  &nbsp;<input type="text" name="u_name" placeholder="Enter Name" required><br >
	Password<input type="password" name="pwd" readonly><br>
	Mobile No:  <input type="tel" name="mobile"><br>
	<input type="submit" value="Register"><br>
<!-- </center> -->
</font>

<b><a href="https://www.google.co.in">Google Page</a></b>
</body>
</html>

